<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-5">
	<div class="col-lg-4 offset-lg-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
			<div class="card-header text-center">{{operacion}}Pedido</div>

			<div class="card-body">
				<form [formGroup]="form" (ngSubmit)="addPedido()">

					<input formControlName="titulo" class="form-control"
						placeholder="Ingrese el Titulo">
					<span
						*ngIf="form.get('titulo')?.hasError('required') && form.get('titulo')?.touched">El
						campo Nombre es
						<strong>requerido</strong></span>

					<textarea formControlName="descripcion" type="text"
						class="form-control mt-2 col-12"
						style="height: 180px;"
						placeholder="Ingrese Descripcion">
						</textarea>

					<div class="row mt-2 text-center">
						<div class="col-lg-6">

							<button routerLink="/" type="button"
								class="btn btn-secondary">Volver</button>
						</div>
						<div class="col-lg-6">
							<button type="submit"
								[disabled]="form.invalid"
								class="btn btn-success">Aceptar</button>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>